* {
  margin: 0px;
  box-sizing: 0px;
}

.header-container.blurred {
  filter: blur(4px);
  opacity: 0.6;
  pointer-events: none;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.header-container {
  height: 200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0px 10px 0px;
  border-bottom: 2px solid black; /* default light mode border */
  transition: border-color 0.3s ease;
  position: fixed;
  z-index: 1000;
  background-color: white;
}

.header-container .header-left-cont {
  width: 10%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header-container i {
  cursor: pointer;
}

.header-container .header-mid-cont {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header-container .header-mid-cont p {
  text-align: left;
  line-height: 25px;
  font-size: clamp(20px, 3vw, 35px);
  font-weight: bolder;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header-container .header-right-cont {
  padding: 20px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-container .header-right-cont img,
.header-container .header-right-cont i {
  width: clamp(20px, 10vw, 10%);
}

@media (max-width: 768px) {
  .header-container {
    height: auto;
  }
  .header-container .header-left-cont {
    justify-content: center;
    margin-right: 30px;
    padding: 20px;
  }
  .header-container .header-mid-cont {
    width: 100%;
  }
  .header-container .header-right-cont {
    display: none;
  }
}
